<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musicplayer"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.musicplayer.activity.WelcomActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
        <activity android:name="com.musicplayer.activity.MainActivity"></activity>
        <activity android:name="com.musicplayer.activity.SongInfoActivity"></activity>
    </application>

</manifest>